
.wind-forecast {
    width: auto;
    padding: .5rem;
    display: grid;
    place-items: center;
    gap: 1rem;

    .header {
        display: flex;

        span {
            font-size: 2rem;
            // white-space: nowrap;
        }

        select {
            padding: .5rem;
            font-size: 1.5rem;
            margin-left: .5rem;
            border-radius: .5rem;
            width: 10rem;
        }
    }

    .wind-values {
        margin-top: 1rem;
        
        label {
            font-size: 1.5rem;  
        }

        input[type=text] {
            width: 100%;
            margin: .5rem 0;
            font-size: 1.5rem; 
            background: none;
            border: none;
            border-bottom: .15rem solid black;
        }

    }

    form {
        width: 50%;

        .select-group {
            display: flex;
            justify-content: space-evenly;
            
            .select-item {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 1.5rem;
                }

                select {
                    padding: .5rem;
                    font-size: 1.5rem;
                    border-radius: .5rem;
                    width: 6rem;
                }
            }

        }

        input[type=submit] {
            background-color: white;
            border: 1px solid black;
            border-radius: .5rem;

            color: black;
            width: 100%;
            margin: 1rem 0;
            padding: .5rem;
            font-size: 1.5rem; 

            &:hover {
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
        }

    }


}