.app {
  margin-left: 5rem;
  padding: 1rem;
}

/* grid system */
.row {
  display: grid;
  grid-gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.col {
  padding: 1rem;
  grid-column: span auto;
}


@media screen and (min-width: 600px) {
  .col-wide {
    padding: 1rem;
    grid-column: span 2 / auto;
  }
  
  .col-tall {
    grid-column: span 2 / auto;
  }
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  display: flex;
  width: auto;
  padding: 1rem;
  margin: 1rem;
  background-color: #A0A0A0;
  border-radius: .5rem;
}



@media only screen and (max-width: 600px) {
  .app {
      margin: 0;
  }
}